extend admin 

block adminContent 
    .admission-app 
        b.para Dear Student / Parent / Guardian,
        br 
        br
        b.para Welcome to our Institute’s Admission Centre. Please use this form to apply for the admission in our Institution. We need complete and accurate information about the student, so make sure you fill out all the fields.
    .admission-option 
            .admission-box 
                h1 2024 admission now open
                if user
                    p you already login,click button to admission 
                    button#admissionStart.btn admission now
                else
                    p you are not login or a nuw user please login to access
                    a(href="/signup") 
                        button.btn register now
    .admin-admission-container 
       table 
            tr 
                th Name
                th Date
                th Class
                th Medium
                th Gender
                th Edit
                th Delete
            each student in admission
                if(student.admission1[0])
                    tr 
                        td=student.admission1[0].name
                        td=student.doa.toLocaleString()
                        td=student.admission1[0].studentclass
                        td=student.admission1[0].medium
                        td=student.admission1[0].gender
                        td.link 
                            a(href=`/admission/${student.id}/page1`) edit
                        td.link 
                            button.btn.deleteAdmission(type="submit", data-id=`${student.id}`) delete
                else 
                    tr
                        td undefined
                        td.link 
                            a(href=`/admission/${student.id}/page1`) edit
                        td.link 
                            button.btn.deleteAdmission(type="submit", data-id=`${student.id}`) delete